@import './modules/navbar';
@import './modules/herosection';
@import './modules/whysection';
@import './modules/aboutsection';
@import './modules/menusection';
@import './modules/specialssection';
@import './modules/eventsection';
@import './modules/booksection';
@import './modules/gallerysection';
@import './modules/chefssection';
@import './modules/contactsection';
@import './modules/footer'