/* about section */
.about-section{
    margin-top: 6vw;
    padding-inline: 40px;
}
.box{
    display: flex;
    gap: 2vw;
}
.box img {
    width: 50%;
    height: 60%;
}
.box .box-type{
    display: flex;
    flex-direction: column;
    gap: 1vw;    
}
.box .box-type > .column > div {
    display: flex;
    column-gap: 5px;
}
.box .box-type > .column > div > svg {
    color: #ffb03b;
}
.box .box-type > .column > div > p{
    font-size: 15px;
    width: 70%;
    font-weight: 400;    
    color: #000000cf;
}
.box .box-type > div {
    display: flex;
    flex-direction: column;
}
.box .box-type div > h1{
    font-size: 25px;
    font-weight: 500;    
    color: #000000cf;
    font-family: 'Satisfy', sans-serif;
    font-weight: bold;
}
.box .box-type div > span{
    font-size: 15px;    
    font-style: italic; 
}
.box .box-type > p{
    font-size: 15px;
    width: 90%;
    color: #000000cf;
    font-weight: 400;
}

@media (max-width: 768px) {
    .box {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .box img {
        width: 80%;
        height: auto;
    }

    .box .box-type > .column > div {
        justify-content: center;
    }

    .box .box-type > .column > div > p {
        width: 100%;
        text-align: center;
    }

    .box .box-type > p {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 425px) {

    .about-section{
        padding-inline: 20px;
    }

    .box img {
        width: 100%;
    }

    .box .box-type div > h1{
        font-size: 22px;
    }

    .box .box-type > p,
    .box .box-type > .column > div > p {
        font-size: 14px;
    }

    .box {
        gap: 20px;
    }
}