  /* MAP */
  .map {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 30px;

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }
  }
.contact {
  padding: 50px 40px;
}

  .section-title {
    text-align: center;
    margin-bottom: 30px;

     h2 {
            color: #ffb03b;
            font-size: 15px;
            border-radius: 25px;
            background-color: #ffb13b23;
            display: inline;
            padding: 4px 12px;
        }

        p {
            font-size: 30px;
            color: #444;
            font-family: 'Satisfy', sans-serif;

            span {
                color: #ffb03b;
            }
        }
  }

.contact .info-box {
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0px 0px 25px rgba(0,0,0,0.06);
}

.contact .info-box h3 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.776);
  margin-bottom: 15px;
  font-weight: 700;
  font-family: 'Satisfy', sans-serif;
}

.contact .info-box p {
  color: #444444;
  font-size: 15px;
}

.contact .info-item {
  padding-top: 10px;
  border-top: 1px solid #eee;
}

.contact .info-item i {
  font-size: 22px;
  color: #ffb03b;
  margin-right: 8px;
}

.contact .info-item h4 {
  display: inline-block;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.776);
  margin: 0;
  font-weight: 700;
  font-family: 'Satisfy', sans-serif;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #cccccca0;
  padding: 10px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ffb03b;
}

.send-btn {
  background: #ffb03b;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  transition: 0.3s;
}

.send-btn:hover {
  background: #e29a2e;
}
