.gallery {
  padding: 60px 0;

  .section-title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
            color: #ffb03b;
            font-size: 15px;
            border-radius: 25px;
            background-color: #ffb13b23;
            display: inline;
            padding: 4px 12px;
        }

        p {
            font-size: 30px;
            color: #444;
            font-family: 'Satisfy', sans-serif;

            span {
                color: #ffb03b;
            }
        }
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.15);
    }
  }
}

/* ===========================
   RESPONSIVE GALLERY (Delicious)
   =========================== */

/* TABLETTES ≤ 992px */
@media (max-width: 992px) {
  .gallery {
    .gallery-container {
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
    }
    .section-title p {
      font-size: 26px;
    }
  }
}

/* MOBILE ≤ 768px */
@media (max-width: 768px) {
  .gallery {
    padding: 40px 0;

    .section-title p {
      font-size: 24px;
    }

    .gallery-container {
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
    }
  }
}

/* SMALL MOBILE ≤ 480px */
// @media (max-width: 480px) {
//   .gallery {
//     padding: 30px 0;

//     .section-title {
//       h2 {
//         font-size: 13px;
//       }
//       p {
//         font-size: 20px;
//       }
//     }

//     .gallery-container {
//       grid-template-columns: repeat(1, 1fr);
//       gap: 6px;
//     }
//   }
// }

