.gallery {
  padding: 60px 0;

  .section-title {
    text-align: center;
    margin-bottom: 40px;
    h2 {
            color: #ffb03b;
            font-size: 15px;
            border-radius: 25px;
            background-color: #ffb13b23;
            display: inline;
            padding: 4px 12px;
        }

        p {
            font-size: 30px;
            color: #444;
            font-family: 'Satisfy', sans-serif;

            span {
                color: #ffb03b;
            }
        }
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
  }

  .gallery-item {
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    &:hover img {
      transform: scale(1.15);
    }
  }

  /* Responsive */
  @media (max-width: 991px) {
    .gallery-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
