.menu {
  padding: 60px 20px;

  .section-title {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      color: #ffb03b;
      font-size: 15px;
      border-radius: 25px;
      background-color:#ffb13b23;
      display: inline;
      padding: 4px 12px; 
    }

    p {
      font-size: 30px;
      color: #444;
      font-family: 'Satisfy', sans-serif;

      span {
        color: #ffb03b;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  .menu-filters {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;
    font-family: 'Satisfy', sans-serif;

    .filter {
      padding: 8px 18px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #ffb03b;
      }
    }
  }

  #filter-all:checked ~ .menu-filters label[for="filter-all"],
  #filter-starters:checked ~ .menu-filters label[for="filter-starters"],
  #filter-salads:checked ~ .menu-filters label[for="filter-salads"],
  #filter-specialty:checked ~ .menu-filters label[for="filter-specialty"] {
    color: #ffb03b;
  }

  .menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .menu-item {
    display: flex;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
    gap: 15px;
    transition: 0.3s;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: contain;
      border: solid 7px rgba(220, 220, 220, 0.888);
    }

    h4 {
      display: flex;
      font-size: 17px;

      &:hover {
        color: #ffb03b;
        cursor: pointer;
      } 

      .point {
        color: #777;
        font-weight: 600;
        padding-left: 10px;
      }
      .price {
        color: #ffb03b;
        font-weight: 600;
        padding-left: 5px;
      }

    }

    p {
      font-size: 15px;
      color: #777;
    }

  }

  /* ALL */
  #filter-all:checked ~ .menu-items .menu-item {
    display: flex;
  }
  /* STARTERS */
  #filter-starters:checked ~ .menu-items .menu-item {
    display: none;
  }
  #filter-starters:checked ~ .menu-items .starters {
    display: flex;
  }
  /* SALADS */
  #filter-salads:checked ~ .menu-items .menu-item {
    display: none;
  }
  #filter-salads:checked ~ .menu-items .salads {
    display: flex;
  }
  /* SPECIALTY */
  #filter-specialty:checked ~ .menu-items .menu-item {
    display: none;
  }
  #filter-specialty:checked ~ .menu-items .specialty {
    display: flex;
  }
}
