.testimonials {
  background: url("/Public/images/testimonials-bg.jpg") center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  position: relative;
}

.testimonials:before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(12, 11, 9, 0.7);
}

.testimonials .container {
  position: relative;
  z-index: 2;
}

.testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonial-item p {
  font-style: italic;
  margin: 0 auto 50px auto;
  width: 60%;
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
}

.quote-icon-left,
.quote-icon-right {
  font-size: 26px;
  color: #ffb03b;
}

.quote-icon-left {
  margin-right: 10px;
}

.quote-icon-right {
  margin-left: 10px;
}

.testimonial-img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  border: solid 7px rgba(93, 93, 93, 0.612);
}

.testimonial-item h3 {
  font-weight: 700;
  margin-top: 10px;
  color: #fff;
  font-family: 'Satisfy', sans-serif;
}

.testimonial-item h4 {
  font-style: italic;
  font-size: 14px;
  color: #ddd;
  font-family: 'Satisfy', sans-serif;
}

.carousel-indicators [data-bs-target] {
  background-color: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
